ListView .list-cell {
    -fx-alignment: center;
}

Label {
    -fx-font-size: 10pt;
    -fx-font-family: Helvetica;
    -fx-text-fill: #be8fff;
    -fx-font-weight: bold;
}

Button{
    -fx-text-fill: white;
    -fx-font-family: "Arial";
    -fx-font-size: 11pt;
    -fx-font-weight: bold;
    -fx-border-color:#be8fff;
    -fx-background-color:#be8fff;
}

Button:hover{
    /*-fx-background-color:#ebc819;*/
    -fx-text-fill:white;
    -fx-font-weight:bold;
    fx-font-size: 11pt;
    -fx-cursor: pointer;
    -fx-background-color: #aa82ff;
    /*-fx-border-color:#ebc819;*/
}